*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/*.container{
	width:80%;
	margin:auto;
}*/
.fixed-icon{
	position:fixed;
	/* bottom:2%; */
	/* right:2%; */
	background-color:#cc1616;
	color:#ffffff;
	padding:4px 5px;
	font-size:25px;
}

/*top header section */
#top-header{
	background-color:black;

	
}
.top-content{
	background-color:rgb(0,0,0);
	
	align-items:center;
	padding:10px 0;
}
 
.top-contact i{
	color:#cc1616;
}
.top-contact a,span{
	color:rgba(255,255,255,0.6);
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:15px;
	text-decoration:none;
	padding-right:10px;
}
.top-contact a:hover{
	color:#fff;
}
 .top-social i{ 
 color:rgba(255,255,255,0.6);
 padding:0 10px;	
	  
 } 
 

.fa-facebook-official{
border-radius:50%;	
}
.top-social i:hover{
	color:#ffffff;
}
/* header section */
header{
	background-color:#191919;
	color:#ffffff;
	
	position:sticky;
	top:0;
	z-index:2;
	
}
.head-row{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	
}
.head-nav{
	width:65%;
	
}

.head-nav ul{
	display:flex;
	justify-content:space-between;
	
	
}
.logo{
	
	font-family: 'Raleway', sans-serif;
	font-size:25px;
	font-weight:600;
	display:flex;
	align-items:center;
	
}
 .head-nav ul li{
	list-style-type:none;
	padding:22px 16px; 

}
.head-nav ul li a{
	text-decoration:none;
	color:#fff;
	
}
.home-style{
	background-color:#cc1616;
	padding:20px;
	
	
}
.head-nav ul li:hover{
	background-color:#cc1616;
	 
	transition:0.3s;
	padding:22px 16px;
}
.head-nav li:hover a{
	color:#595757;
}
/* banner section */
#banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/hero-bg.jpg");
	background-position: top center;
	background-attachment:fixed;
	height:80vh;
	background-size:cover;
	display:flex;
	/* align-items:center; */
}
.banner-content{
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
}

.banner-content h1{
	/*font-size:48px;*/
	font-weight:700;
}
.banner-content p{
	/* font-size:24px; */
	font-weight:500;
	/* line-height:3; */
	/* padding-bottom:20px; */
}

.banner-content a{
	font-size:14px;
	font-weight:500;
	border:2px solid rgb(255,255,255);
	padding:10px 30px;
	text-decoration:none;
	color:#fff;
}
.banner-content a:hover{
	background-color:#cc1616;
	border:2px solid #cc1616;
	transition:0.5s;
}

/* about section */
/* #about-section{ */
	/* height:100vh; */
/* } */
.about-row{
	/* display:flex; */
	align-items:center; 
	/* height:100vh; */
}
.about-card{
	padding-bottom:5%;
}
/* .abt-left-col{ */
	/* width:50%; */
/* } */
/* .abt-right-col{ */
	/* width:50%; */
/* } */
.abt-right-col img{
	width:100%;
	/* padding-top:10%; */

}
.abt-left-col h1{
	/* font-size:26px; */
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	/* padding-bottom:20px; */
}
.abt-left-col p{
	font-family: 'Open Sans', sans-serif;
	line-height:2;
	font-weight:500;
	/* font-size:16px; */
}

.abt-left-col ul{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:1.5;
}
.abt-left-col ul li i{
	font-size:20px;
	padding-right:30px;
	
}
.abt-left-col ul li{
	list-style-type:none;
	line-height:2;
	font-size:16px;

}
.abt-left-col ul li i{
	color:#cc1616;
	height:20px;
	width:20px;
}
/* about-card portion */
.about-card-row{
	display:flex;
	flex-wrap:wrap;
	/* height:100vh; */
	
}
.about-card-col{ 
	  padding:10px 5px; 
	 /*width:33.33%; */
 } 
.about-cardd{
	/* height:45vh; */
	box-shadow:0 0 7px #c9bebd;
}
.about-card-col h2{
	color:#ed5b5b;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	font-weight:900;
	padding:40px 20px 20px 20px;
}
.about-card-col h3{
	font-size:24px;
	font-family: 'Raleway', sans-serif;
	font-weight:900;
	color:#191919;
	padding:20px;
}
.about-card-col p{
	font-family: 'Open Sans', sans-serif;
	color:#aaaaaa;
	font-size:15px;
	padding:20px;
	font-weight:500;
}
.about-cardd:hover{
	background-color:#cc1616;
	transition:all 0.1s linear;
	
}
.about-cardd:hover .change{
	color:#fff;
}
/* about-images */
.about-images{
	background-color:#f2f2f2;
	display:flex;
	align-items:center;
	margin:auto;
	/* height:18vh; */
}
.about-images-row{
	/* display:flex; */
	/* justify-content:space-between; */
	width:80%;
	margin:auto;
	text-align:center;
}
 .about-images-col { 
	 /*width:16.66%;*/ 
	 /*padding:5px;*/ 
 } 
.about-images-col img{
	/*width:50%;*/
	filter:grayscale(100%);
}
.about-images-col img:hover{
	filter:grayscale(0);
	transform:scale(1.5);
	transition:all 0.5s linear;
}


/* service-section */
.service-title{
	position:relative;
	text-align:center;
}
.service-title p{
	font-family: 'Open Sans', sans-serif;
	padding:30px 0;
	font-size:15px;
}
.ser-title-background h1{
	
	/* font-size:55px; */
	color:#f4f4f4;
	opacity:0.7;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}
.ser-titles h1{
	position:absolute;
	/* top:30%; */
	/* left:38%; */
	/* font-size:40px; */
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	
	color:#000;
	
}
.service-content{
	text-align:center;
}

.service-row{
	display:flex;
	flex-wrap:wrap;
	padding-bottom:4%;
}
 .service-col{ 
	/* width:33.33%; */
	padding:10px;
	text-align:center;
 } 
.service-card{
	/* height:50vh; */
	box-shadow:0 0 9px #c9bebd;
	padding-bottom:10%;
}
.service-icon i{
	background-color:#cc1616;
	color:white;
	padding:20px;
	font-size:30px;
	box-shadow: -8px -8px 1px rgba(204, 22, 22, 0.15);
}
.service-icon{
	padding:20% 5% 2% 5%;
}
.service-col h1{
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	padding:20px;
}
.service-col p{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	line-height:2;
	font-weight:500;
}
.service-card:hover{
	background-color:#cc1616;
	color:#fff;
	transition:all 0.3s linear;

}
.service-col:hover i{
	background-color:white;
	color:#cc1616;
	box-shadow:-8px -8px 1px rgba(255,255,255,0.5);
}



/* call-to-action-section */
#call-to-action{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/cta-bg.jpg);
	background-size:cover;
	background-attachment:fixed;
	 /* height:100vh;  */
	background-position:center;
	display:flex;
	align-items:center;

}
.call-content{
	color:#ffffff;
	text-align:center;
	
	animation:abi 1.5s 1;
}
@keyframes abi{
	0% {transform:scale(0);}
	100%{transform:scale(1);}
}
.call-content h1{
	font-family: 'Raleway', sans-serif;
	font-size:28px;
	padding:20px;
}
.call-content p{
	font-family: 'Open Sans', sans-serif;
	padding-bottom:40px;
	font-weight:500;
}
.call-content a{
	font-family: 'Raleway', sans-serif;
	text-decoration:none;
	color:#ffffff;
	border:2px solid #ffffff;
	padding:10px 25px;
	font-weight:500;
}
.call-content a:hover{
	background-color:#cc1616;
	border:2px solid #cc1616;
	transition: all 0.3s linear;
}



/*portfolio-section*/
#portfolio-section{
	z-index:1;
}

.portfolio-title{
	position:relative;
	text-align:center;
}
.portfolio-title p{
	font-family: 'Open Sans', sans-serif;
	padding:30px 0;
	font-size:15px;
}
.portfolio-background h1{
	
	/* font-size:55px; */
	color:#f4f4f4;
	opacity:0.7;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}
.portfolioo h1{
	position:absolute;
	/* top:30%; */
	/* left:38%; */
	/* font-size:40px; */
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	
	color:#000;
	
}
.filter{
	text-align:center;
	/* padding:20px 0; */
	/* width:50%; */
	margin:auto;
	}
.filter-normal{
	text-decoration:none;
	color:rgb(0,0,0);
	padding:0 10px;
	font-family: 'Poppins', sans-serif;
	font-weight:200;
}
.filter-change{
	color:#cc1616;
	text-decoration:none;
	padding:0 10px;
	font-family: 'Poppins', sans-serif;
	font-weight:200;
}
.filter-normal:hover{
	color:#cc1616;
	transition: all 0.2s linear;
}
.gallery-row{
	display:flex;
}
.gallery-col{
	/* width:33.33%; */
	padding:10px;
}
.gallery-card{
	padding:10px 0;
	position:relative;
}
.gallery-card img{
	width:100%;
}
.gallery-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	position:absolute;
	bottom:5%;
	left:5%;
	
	border:2px solid #fff;
	background-color:#fff;
	width:90%;
	opacity:0.8;
	padding:20px;
		
	visibility:hidden;	
}
.gallery-card:hover .gallery-content{
	visibility:visible;
	transition:all 0.5s linear;

	
	position:absolute;
	bottom:10%;
	left:5%;
}
.gallery-content h2{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:600;
}
.gallery-content p{
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:600;
}
.gallery-icon i{
	font-size:20px;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	padding-right:5px;
}
.gallery-icon i:hover{
	color:#cc1616;
}

/* pricing-section */
.pricing-title{
	position:relative;
	text-align:center;
}
.pricing-title p{
	font-family: 'Open Sans', sans-serif;
	padding:30px 0;
	font-size:15px;
}
.pricing-title-background h1{
	
	/* font-size:55px; */
	color:#f4f4f4;
	opacity:0.7;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}
.pricing-titles h1{
	position:absolute;
	/* top:30%; */
	/* left:38%; */
	/* font-size:40px; */
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	
	color:#000;
	
}
.pricing-row{
	display:flex;
	justify-content:space-between;
}
/* .pricing-col{ */
	/* width:33.33%; */
	/* padding:10px; */
	/* text-align:center; */
/* } */
.pricing-card{
	border:1px solid #fff;
	background-color:#f9f9f9;
	/* height:60vh; */
	border-radius:5px;
}
.pricing-card h3{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	padding:20px 0;
}
.pricing-card h2 span{
	color:#cc1616;
	font-size:42px;
	font-family: 'Open Sans', sans-serif;
}
.pricing-card h2{
	color:#bababa;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}
.pricing-card p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	/* line-height:2; */
	padding-bottom:40px;
}
.pricing-card p s{
	color:#cccccc;
	font-weight:500;
}
.pricing-card a{
	background-color:#cc1616;
	padding:10px 30px;
	text-decoration:none;
	color:#fff;
	font-size:17px;
}
.pricing-card a:hover{
	background-color:rgba(204, 22, 22,0.8);
	transition:all 0.2s linear;
}
.pricing-card1{
	border:1px solid #fff;
	background-color:#cc1616;
	/* height:60vh; */
	border-radius:10px;
}
.pricing-card1 h3{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	padding:20px 0;
	color:#fff;
}
.pricing-card1 h2 span{
	color:#cc1616;
	font-size:42px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}
.pricing-card1 h2{
	color:#bababa;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:#fff;
}
.pricing-card1 p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	/* line-height:2; */
	padding-bottom:40px;
	color:#fff;
}
.pricing-card1 p s{
	color:#cccccc;
	font-weight:500;
	color:#fff;
}
.pricing-card1 a{
	background-color:rgba(204, 204, 204,0.4);
	padding:10px 30px;
	text-decoration:none;
	color:#fff;
	font-size:17px;
}

.pricing-card1 a:hover{
	background-color:#fff;
	opacity:1;
	color:#cc1616;
	transition:all 0.3s linear;
}

.card-color{
	color:#fff;
}


/* team-section */
.team-title{
	position:relative;
	text-align:center;
}
.team-title p{
	font-family: 'Open Sans', sans-serif;
	padding:10px 0;
	font-size:15px;
}
.team-title-background h1{
	
	/* font-size:55px; */
	color:#f4f4f4;
	opacity:0.7;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}
.team-titles h1{
	position:absolute;
	/* top:30%; */
	/* left:38%; */
	/* font-size:40px; */
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	
	color:#000;
	
}
.team-row{
	display:flex;
}
 .team-col{ 
	 /* width:33.33%;  */
	 text-align:center; 
	 padding:10px; 
 } 
.team-card{
	box-shadow:0 0 5px #c9bebd;
	height:100%;
}
.team-image{
	width:85%;
	margin:auto;
}
.team-image img{
	width:100%;
	border-radius:50%;
	/* padding:40px; */
}
.team-icon{
	color:#a7aba8;
	padding:20px 10px;
	font-size:20px;
}
.fa-facebook{
	background-color:#a7aba8;
	height:20px;
	width:20px;
	border-radius:50%;
	color:#ffffff;
	padding:0px 18px 10px 6px;
}
.team-font{
	font-family:'Open Sans', sans-serif;
	font-style:italic;
	color:#cccccc;
	font-size:14px;
	font-weight:500;
	padding:10px 10px 5px 20px;
}



/* contact-section */

/* contact-top-portion */

.contact-title{
	position:relative;
	text-align:center;
}
.contact-title p{
	font-family: 'Open Sans', sans-serif;
	padding:30px 0;
	font-size:15px;
}
.cnt-title-background h1{
	
	/* font-size:55px; */
	color:#f4f4f4;
	opacity:0.7;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}
.contact-titles h1{
	position:absolute;
	/* top:30%; */
	/* left:38%; */
	/* font-size:40px; */
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	
	color:#000;
	
}
.contact-top-row{
	display:flex;

}
.contact-top-col-lef{
	/* width:50%; */
	text-align:center;
	padding:10px;
}

.top-rig-col{
	/* width:25%; */
	
	text-align:center;
	padding:10px;
}


	
.top-card{
	box-shadow:0px 0px 10px #ccc;
	padding:30px 20px;
}
.contact-sec-icon i{
	color:#cc1616;
	border:2px dotted #f5a0a0;
	border-radius:50px;
	font-size:32px;
	padding:8px;
}

/* contact-bottom-portion */
.contact-row{
	display:flex;
}
.cont-col-lef{
	/* width:50%; */
	 /* height:40vh;  */
	/* padding-right:10px; */
}
.cont-col-rig{
	/* width:50%; */
	/* padding-left:10px; */
	
}
.cont-col-card{
	box-shadow:0 0 15px #ccc;
	padding:15px;
}
.cont-form-row{
	display:flex;
	flex-wrap:wrap;

}
.cont-form-col{
	width:50%;
	padding:20px 10px;
}
.cont-form-col input{
	width:100%;
	padding:10px 12px;
	border:1px solid #ccc;
}
.cont-form-col input::placeholder{
	font-size:14px;
	color:#aba9a9;
}
.subject-col{
	padding:10px;
}
.subject-col input{
	width:100%;
	padding:10px 12px;
	border:1px solid #ccc;
}
.subject-col input::placeholder{
	font-size:14px;
	color:#aba9a9;
}
.form-area{
	padding: 20px 10px;
}
.form-area textarea{
	width:100%;
	padding:10px;
	border:1px solid #ccc;
}
 textarea{
	color:#aba9a9;
	font-size:16px;
}
.cont-btn{
	text-align:center;
	padding:6px 0 30px 0;
}
.cont-btn a{
	background-color:#cc1616;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
/* footer-section */
#footer-section{
	background-color:rgb(0,0,0);
	/* height:100vh; */
	
	
}
footer{
	padding-top:5%;
}
.foot-row{
	display:flex;
	align-items:center;
}
.foot-col1{
	padding:5% 1% 0 0;
	/* width:33.33%; */
}
.foot-col2{
	/* width:16.66%; */
	padding-top:5%;
}
.foot-col3{
	/* width:16.66%; */
	padding-top:5%;
}
.foot-col4{
	/* width:33.33%; */
	padding-top:5%;
}

.foot-card1{
	
	color:#fff;
	background-color:#191919;
	border-top: 4px solid #cc1616;
	/* height:45vh; */
	text-align:center;
}

.foot-card1 h3{
	/* font-size:36px; */
	/* padding:5% 0; */
}
.foot-card1 p{
	/* font-size:16px; */
	font-family: 'Raleway', sans-serif;
}
.foot-soc-link{
	/* padding:5% ; */
}
.foot-soc-link i{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	background-color:#262626;
	border-radius:50px;
	height:30px;
	width:30px;
	padding-top:4px;

}
.foot-soc-link i:hover{
	background-color:#cc1616;
	transition:all 0.2s linear;
}



.foot-card2{
	/* text-align:center; */
}
.foot-card2 h4{
	font-family: 'Raleway', sans-serif;
	/* padding:5px 0 10px 0; */
	color:#fff;
}
.foot-card2 ul li {
	text-align:left;
	list-style-type:none;
	padding-top:15px;
	color:#fff;
}
.foot-card2 ul li i{
	color:#cc1616;
}
.foot-card2 ul li a{
	text-decoration:none;
	color:#fff;
}

.foot-card3{
	/* text-align:center; */
}
.foot-card3 h4{
	font-family: 'Raleway', sans-serif;
	/* padding:5px 0 10px 0; */
	color:#fff;
}
.foot-card3 ul li {
	list-style-type:none;
	padding-top:15px;
	color:#fff;
	text-align:left;
}
.foot-card3 ul li i{
	color:#cc1616;
}
.foot-card3 ul li a{
	text-decoration:none;
	color:#fff;
}
.foot-card4{
	/* padding-left:5%; */
}
.foot-card4	h4{
	font-family: 'Raleway', sans-serif;
	color:#fff;
	/* padding-bottom:6%; */
}
.foot-card4 p{
	font-family: 'Raleway', sans-serif;
	color:#fff;
	/* padding-bottom:6%; */
}
/* .foot-card4 input{ */
	/* padding:0 15%; */
/* } */
.foot-card4 a{
	background-color:#cc1616;
	/* padding:20px 30px; */
	color:#fff;
	text-decoration:none;
}
.foot-btn{
	display:flex;
	/* padding:20px 0; */
} 